/* Global */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #8a8683;
  background-color:#ffffff;
}
img {
  max-width: 100%;
}
a:link {
  color: #f68f67;
  text-decoration: none;
}
a:hover {
  color: #bde2df;
  text-decoration: none;
}
a:visited {
  color: #f68f67;
  text-decoration: none;
}

/*****************************************************************************/
/* Navigation */

.menu {
  position:fixed;
  top:0px;
  width:100%; 
  height:auto; 
  background-color:#ffffff;
  z-index:100;
}
#logo {
  text-align: center;
  margin: 10px 0;
}
#nav {
  text-align: right;
  margin: 30px 0 0 0;
  width: 100%;
  padding: 1em;
}
.navigation{
  float: right;
  list-style: none;
  margin: 0;
}
.navigation li{
  float: left;
  padding:0 0 0 30px;
}
.navigation li:hover{
  cursor:pointer;
  color: #a9d3d0;
}

.navigation .active{
  cursor:pointer;
  color: #f68f67;
  font-weight:bold;
}

/*****************************************************************************/
/* General Slides */ 

.slide{
  background-attachment: fixed;
  width:100%;
  min-height: 700px;
  height:auto;
  position: relative;
  padding:140px 0;
}

.parallax-wrap{
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  padding: 1em;
}

.nombre{
  font-size: 1.8em;
}

.parallax-wrap2{
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  padding: 1.5em;
}

/*****************************************************************************/
/* Slide 1 */ 

#slide1{
  background-image:url('../images/metro.png');
  background-size: cover;
  margin-top: 100px;
}
#slide1 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color: #F5F5F5;
  font-weight: 700;
}
#slide1 h2 {
  font-size: 2em;
  color: yellow;
  line-height: 0px;
  padding-bottom:20px;
  font-weight: 400;
}

#slide1 p{
    color:#F5F5F5;
}

/*****************************************************************************/
/* Slide 2 */ 

#slide2{

  background-color:#EC6F66;
  color:#ffffff;
  
}
#slide2 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#ffffff;
  font-weight: 700;
}
#slide2 h2 {
  font-size: 2em;
  color: #ffffff;
  line-height: 0px;
  padding-bottom:20px;
  font-weight: 400;
}

/*****************************************************************************/
/* Slide 3 */ 

#slide3{
  background-color:#ffffff;
  background-image: url(../images/circuito-integrado-kilby.jpg);
  background-size: cover;
}
#slide3 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#fff;
  font-weight: 700;
}
#slide3 h2 {
  font-size: 2em;
  color: #fff;
  line-height: 0px;
  padding-bottom:20px;
  font-weight: 400;
}

#slide3 p{
  color: #fff
}
#test{
  background-color:#bde2df;
  color:#ffffff;
  text-align:center;
  font-size: 2em;
  font-weight: 400;
}

/*****************************************************************************/
/* Slide 4 */

#slide4{
  background: rgb(20, 160, 226);
  color:#ffffff;
}
#slide4 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#ffffff;
  font-weight: 700;
}
#slide4 h2 {
  font-size: 2em;
  color: #ffffff;
  line-height: 0px;
  padding-bottom:20px;
  font-weight: 400;
}

/*****************************************************************************/
/* Slide 5 */ 

#slide5{
  background-color:#c7823d;
  background-size: cover;
  color: #fff;
}
#slide5 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#fff;
  font-weight: 700;
}

#slide5 .header{
  margin-bottom: 15px; 
  padding: 15px;
}

#slide5 p{
  color: #fff
}

/*****************************************************************************/
/* Slide 6 */ 

#slide6{
  background-color:#f0f0f0;
}

#slide6 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#000;
  font-weight: 700;
}

#slide6 .author{
  float: right;
  text-align: right;
}

#slide6 p{
  color: #000;
  font-size: 1.6em;
}

/*****************************************************************************/
/* Slide 7 */ 

#slide7{
  background-color:#f09609;
  background-size: cover;
}
#slide7 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#fff;
  font-weight: 700;
}

#slide7 .span7{
  color:#fff;
  padding: 17px;
}

#slide7 .author{
  float: right;
  text-align: right;
}

#slide7 p{
  color: #fff;
  font-size: 2em;
}

/*****************************************************************************/
/* Slide 8 */ 

#slide8{
  background-color:#ffffff;
  background-image: url(../images/cc1.jpg);
  background-size: cover;
}
#slide8 h1 {
  font-size: 3em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#fff;
  font-weight: 700;
}
#slide8 h2 {
  font-size: 1.3em;
  color: #fff;
  line-height: 0px;
  padding-bottom:20px;
  font-weight: 400;
}

#slide8 p{
  color: #fff
}

/*****************************************************************************/
/* Slide 9 */

#slide9{
  background-color: #1abc9c;
  color:#ffffff;
}
#slide9 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#ffffff;
  font-weight: 700;
}
#slide9 h2 {
  font-size: 2em;
  color: #ffffff;
  line-height: 0px;
  padding-bottom:20px;
  font-weight: 400;
}

/*****************************************************************************/
/* Slide 10 */ 

#slide10{
  background-color: #969696;
  background-size: cover;
}
#slide10 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#fff;
  font-weight: 700;
}

#slide10 .span7{
  color:#fff;
  padding: 17px;
}

#slide10 .author{
  float: right;
  text-align: right;
}

#slide10 p{
  color: #fff;
  font-size: 2em;
}

/*****************************************************************************/
/* Slide 11 */ 

#slide11{
  background-color:#00aba9;
  background-size: cover;
}
#slide11 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#fff;
  font-weight: 700;
}

#slide11 h3 {
  font-size: 2em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#fff;
  font-weight: 700;
}

#slide11 .span7{
  color:#fff;
  padding: 17px;
}

#slide11 .author{
  float: right;
  text-align: right;
}

#slide11 p{
  color: #fff;
  font-size: 2em;
}

/*****************************************************************************/
/* Slide 12 */ 

#slide12{
  background-color:#92c727;
  background-size: cover;
}
#slide12 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#fff;
  font-weight: 700;
}

#slide12 h3 {
  font-size: 2em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#fff;
  font-weight: 700;
}

#slide12 .span7{
  color:#fff;
  padding: 17px;
}

#slide12 .author{
  float: right;
  text-align: right;
}

#slide12 ul li{
  list-style: none;
  color: #fff;
  font-size: 2em;
}



/*****************************************************************************/
/* Slide 13 */ 

#slide13{
  background-color:#ffd805;
  background-size: cover;
  color: #000;
}
#slide13 h1 {
  font-size: 3.8em;
  letter-spacing: -3px;
  line-height: 0px;
  font-weight: 700;
}

#slide13 h3 {
  font-size: 2em;
  letter-spacing: -3px;
  line-height: 0px;
  color:#fff;
  font-weight: 700;
}

#slide13 .span7{
  padding: 17px;
}

#slide13 .author{
  float: right;
  text-align: right;
}

#slide13 p{
  font-size: 2em;
}



 .imgCircle{

  
  display: inline-block;
  height: auto;
  padding-top: 75%;
  width: 75%;
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  border-radius: 50%;


  margin: 3em 1.5em auto;


  margin-right: 25px;
  background-size: cover;
  background-position: center center;

  border-radius: 99em;
  border: 3px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  

   
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

.imgCircle:hover{
     border-color: rgb(64,186,216);
}

#imgCircle1{
   background-image: url(../images/transitor.jpg);
}

#imgCircle2{
  background-image: url(../images/circuito-integrado-kilby.jpg);
}

#imgCircle3{
  background-image: url(../images/intel4004.jpg);
}

#imgCircle5{
  background-image: url(../images/internet.png);
  margin-top: 0px;
  margin-left: 50px;
}

#imgCircle6{
  background-image: url(../images/tim.jpg);
}

#imgCircle7{
  background-image: url(../images/cc.jpg);
}

#imgCircle8{
  background-image: url(../images/qu.jpg);
}


#imgCircle9{
  background-image: url(../images/jobs.jpg);
}

#imgCircle10{
  background-image: url(../images/saas.jpg);
}

#imgCircle11{
  background-image: url(../images/bigdata.jpg);
}

#imgCircle12{
  background-image: url(../images/ia.jpg);
}






/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
  width: 100%;
  text-align: center;
}

#nav {
  width:100%;
  text-align:center;
  margin:10px 0;
}

.navigation{
  width: 100%;
  float: center;
  list-style: none;
  margin: 0;
  padding:0;
}

.navigation li{
  float: left;
  width:25%;
  padding:0;
}

.slide{
  background-attachment: fixed;
  width:100%;
  position: relative;
  padding:150px 0;
}

#decorative {
  display:none;
}

#content {
  text-align:center;
  width:100%;
}

#slide1 h1 {
  line-height: 1em;
}
#slide1 h2 {
  line-height: 1em;
}
#slide2 h1 {
  line-height: 1em;
}
#slide2 h2 {
  line-height: 1em;
}
#slide3 h1 {
  line-height: 1em;
}
#slide3 h2 {
  line-height: 1em;
}
#slide4 h1 {
  line-height: 1em;
}
#slide4 h2 {
  line-height: 1em;
}

#slide7 h1 {
  line-height: 1em;
}
#slide7 h2 {
  line-height: 1em;
}

#slide8 h1 {
  line-height: 1em;
}
#slide8 h2 {
  line-height: 1em;
}

#slide9 h1 {
  line-height: 1em;
}
#slide9 h2 {
  line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
  width: 100%;
  text-align: center;
}

#nav {
  width:100%;
  margin:5px 0;
}

.navigation{
  width: 100%;
  float: left;
  list-style: none;
  margin: 0;
  padding:0;
}

.navigation li{
  float: left;
  width:25%;
}

.slide{
  background-attachment: fixed;
  width:100%;
  position: relative;
  padding:150px 0;
}


#slide1 h1 {
  line-height: 1em;
}
#slide1 h2 {
  line-height: 1em;
}
#slide2 h1 {
  line-height: 1em;
}
#slide2 h2 {
  line-height: 1em;
}
#slide3 h1 {
  line-height: 1em;
}
#slide3 h2 {
  line-height: 1em;
}
#slide4 h1 {
  line-height: 1em;
}
#slide4 h2 {
  line-height: 1em;
}


}




